.content-div
{
    
}
.setting-div{
    margin: 0px 40px;
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}
.setting-div .user-group-div{
    flex: 0 0 400px;
}
.metrics-div{

}

.metrics-div>div.metrics-inner-table{
    text-align: center;
    position: relative;
}

.metrics-div .metrics-inner-table table,
.metrics-div .metrics-inner-table .handsontable{
    margin: auto;
}

.metrics-div .metrics-inner-table table td{
    border: 1px solid #333;
    /*padding: 5px 10px;*/
    height: 50px;
    text-align: center;
}

.number-pick-table{
    flex: 0 0 400px;
    position: relative;
    margin-left: 40px;
}
.number-pick-table table{
    margin-left: 10px;
}
.number-pick-table table thead td,
.number-pick-table table tr td:first-of-type{
    font-weight: bold;
}

.number-pick-table table td{
    border: 1px solid #333;
    width: 50px;
    padding: 7px 14px;
    text-align: center;
    font-size: 20px;
}
.number-pick-table p{
    margin-bottom: 10px;
    text-align: center;
}

.number-pick-table p.vertical-text{
    transform: rotate(90deg);
    transform-origin: left top 0;
    display: inline-block;
    position: absolute;
    margin-top: 50px;
    left: 0px;
}

.category-select{
    list-style: none;
    width: 180px;
    float: left;
    margin: 0px;
    padding-left: 20px;
}
.category-select:first-of-type{
    padding-left: 0px;
}
.category-select li{
    cursor: pointer;
    list-style: none;
    padding: 3px 10px;
    font-size: 18px;
}

.category-select li:hover{
    background-color: #ccc;
}

.category-select li.selected{
    background-color: #999;
}

#category-group-user{
    max-height: 400px;
    overflow-y: scroll;
}
.description-div{
    text-align: center;
    margin: auto;
    margin-top: 30px;
}
.description-div .title{
    margin: 0px;
    padding: 8px 10px;
    font-size: 20px;
    border: 2px solid #333;
    background-color: #f5ca4a;
}

.description-div textarea{
    padding: 5px;
    width: 100%;
    border: 2px solid #333;
    border-top: 0px;
    outline: 0 none;
    height: 100px;
}
#fomularTable td.custom-selected{
    background-color: #2e86e0;
    color: #fff;
}
#fomularTable td.selected{
    background-color: #f5ca4b;
    color: #212529;
}
#bet_analysis .handsontable thead tr th{
    height: 46px;
    font-size: 20px;
    vertical-align: middle;
}